	<!-- Including the bootstrap CDN -->
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Creating a navigation bar using the
		.navbar class of bootstrap -->
	<nav class="navbar navbar-expand-sm">

		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<button class="btn btn-primary mt-2 me-4">
                    <a id="forgot" routerLink="/login">Login</a>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn mt-2 me-1 ">
                    <a id="forgot" routerLink="/register">Sign Up</a>
				</button>
			</li>
		</ul>
	</nav>
