<app-common-nav></app-common-nav>
<div style="background-color: hsl(32, 100%, 50%);">
  <br>
<app-search></app-search>
</div>
<div class ="outer">
        <div class="row">
        <aside class="col-md-2">
    <br>
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <i class="bi bi-funnel-fill"></i>Filter Based on City
            </header>
            <div class="filter-content collapse show" id="collapse_2" >
                <div class="card-body">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault2">
                          None
                        </label>
                      </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Chennai" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Chennai
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="Coimbatore" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Coimbatore
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Banglore" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Banglore
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="Hyderbad" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Hyderbad
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Mysore" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Mysore
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="Kochi" (change)="changeLocation($event)">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Kochi
                        </label>
                      </div>
                </div> 
            </div>
        </article> 
    </div>
    </aside>
    <main class="col-md-9">
    <br>
    <div class="row">
          <div *ngFor="let posts of post.data" class="card col-md-3" >
            <figure class="card card-product-grid">
            <div *ngIf="posts.profilePicture != null && posts.profilePicture != undefined; else loading">
              <img class="card-img-top" src="{{posts.profilePicture}}" alt="" style="width: 240px; height: 150px; padding: 0px 10px 0px 10px;">
            </div>
            <ng-template #loading>
              <img class="card-img-top" src="../../../assets/image/home-bg.png" alt="" style="width: 220px; height: 150px; padding: 0px 10px 0px 10px;">
            </ng-template>
            
            <div class="card-body">
              <h4 class="card-title"><i class="bi bi-person-fill"></i> {{ posts.firstName }} {{ posts.lastName }}</h4>
              <p class="card-text"><i class="bi bi-telephone-fill"></i> {{posts.mobileNumber}}</p>
              <p class="card-text"><i class="bi bi-geo-alt"></i> {{ posts.location }}</p>
              <a class="btn btn-primary" (click)="openModal(posts.id)">See Profile</a>
            </div>
          </figure>
          </div> 
    </div> 

  <div class="justify-content-center">
    <nav class="mt-4 flex-row-reverse" aria-label="Page navigation sample">
      <ngb-pagination
      [collectionSize]="pageSize"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="renderPage($event)"></ngb-pagination>
    </nav>
  </div>

        </main>
        </div>
    </div>