<body>
  <div class="d-flex" id="wrapper">
     <app-sidenav></app-sidenav>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
              <div class="d-flex align-items-center">
                  <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                 
              </div>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                              role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-user me-2"></i>John Doe
                          </a>
                     
                      </li>
                  </ul>
              </div> -->
          </nav>

          <div class="container-fluid px-4">
              <div class="row g-3 my-2">
              </div>

              <div class="row my-5 text-center">
                  <h3 class="fs-3 mb-3" >Current Orders</h3>
                  <div class="col">
                    <div class="container mt-5">
                      <div class="d-flex justify-content-center row">
                          <div class="col-md-10">
                              <div class="rounded">
                                  <div class="table-responsive table-borderless">
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col">Id</th>
                                          <th scope="col">Service Name</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Appointment From</th>
                                          <th scope="col">Appointment To</th>
                                        </tr>
                                      </thead>
                                      <tbody *ngIf="waitingOrders">
                                              <tr *ngFor="let order of waitingOrders.data">
                                                <td>{{ order.id}}</td>
                                                <td>{{ order.serviceName}}</td>
                                                <td><span class="badge badge-success">{{order.status}}</span></td>
                                                <td>{{ order.appointmentFrom | date }}</td>
                                                <td>{{ order.appointmentTo | date }}</td>
                                             </tr>
                                        
                                      </tbody>
                                    </table>
                                      
                                          <!-- <tbody class="table-body">
                                              <tr class="cell-1">
                                                  <td class="text-center">
                                                    
                                                  </td>
                                                  <div *ngIf="waitingOrders" class="data">
                                                    <div *ngFor="let order of waitingOrders.data">
                                                  <td>{{ order.id}}</td>
                                                  <td>{{ order.serviceName}}</td>
                                                  <td><span class="badge badge-success">{{order.status}}</span></td>
                                                  <td>{{ order.appointmentFrom | date }}</td>
                                                  <td>{{ order.appointmentTo | date }}</td>
                                                  <td><i class="fa fa-ellipsis-h text-black-50"></i></td>
                                                </div>
                                              </div>
                                              </tr>
                                              
                                          </tbody> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                                  </div>                   
                  </div>
              </div>

          </div>
      </div>
  <!-- /#page-content-wrapper -->
  
