
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel" style="background-color: rgb(44, 42, 42);">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Sign Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signUpForm">
              <div class="form-group pt-3">
                <div class="input-field" [class.eroror]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName')">
                  <span class="fa fa-user-o p-2"></span>
                  <input formControlName="firstName" type="text" placeholder="FirstName">
                </div>
              </div>
              <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName') " class="text-danger">FirstName is required</small>
              

              <div class="form-group pt-3">
                <div class="input-field"  [class.eroror]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName')">
                  <span class="fa fa-user-o p-2"></span>
                  <input formControlName="lastName" type="text" placeholder="LastName">
                </div>
              </div>
              <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName') " class="text-danger">LastName is required</small>
              

              <div class="form-group pt-3">
                <div class="input-field" [class.eroror]="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username')">
                  <span class="fa fa-user-o p-2"></span>
                  <input formControlName="username" type="text" placeholder="Username">
                </div>
              </div>
              <small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username') " class="text-danger">Username is required</small>
             

             
              <div class="form-group pt-3">
                <div class="input-field" [class.eroror]="signUpForm.controls['mobileNumber'].dirty && signUpForm.hasError('required', 'mobileNumber')">
                  <span class="fa fa-mobile p-2"></span>
                  <input formControlName="mobileNumber" type="text" placeholder="MobileNumber">
                </div>
              </div>
              <small *ngIf="signUpForm.controls['mobileNumber'].dirty && signUpForm.hasError('required', 'mobileNumber') " class="text-danger">Mobile Number is required</small>
              

              <div class="form-group pt-3">
                <div class="input-field" [class.eroror]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                  <span class="fa fa-envelope p-2"></span>
                  <input formControlName="email" type="text" placeholder="Email">
                </div>
              </div>
              <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email') " class="text-danger">Email is required</small>
              

              <div class="form-group pt-3">
                <div class="input-field" [class.eroror]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password" [type]="type" placeholder="password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                </div>
              </div>
              <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password') " class="text-danger">
                password is required</small>

                

                 <!-- <div class="form-group pt-3">
                <div class="input-field" [class.eroror]="signUpForm.controls['userRole'].dirty && signUpForm.hasError('required', 'userRole')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="userRole" type="text" placeholder="UserRole">
                </div>
              </div>
              <small *ngIf="signUpForm.controls['userRole'].dirty && signUpForm.hasError('required', 'userRole') " class="text-danger">User Role is required</small>
               -->

              <div class="form-group pt-3" style="color: hsl(32, 100%, 50%);">
             
                <input class="form-check-input" type="radio" name="userRole" value="Customer" formControlName="userRole">
                <label class="form-check-label" for="flexRadioDefault1">
                  &nbsp;Customer
                </label>&nbsp;&nbsp;&nbsp;
                        
              
                <input class="form-check-input" type="radio" name="userRole" value="Provider" formControlName="userRole">
                <label class="form-check-label" for="flexRadioDefault1" >
                  &nbsp;Provider
                </label>
              </div>              
              <!-- <small *ngIf="signUpForm.controls['userRole'].dirty && signUpForm.hasError('required', 'userRole') " class="text-danger">Please select user-role</small> -->


              <button (click)="onSignup()" type="submit" class="btn btn-primary btn-block mt-4 w-100 " >register</button>
              <div class="text-center pt-4" style="color: white;">Already have account? <a id="forgot" routerLink="/login">Login</a></div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>       