

<body>
  <div class="d-flex" id="wrapper">
    <app-sidenav></app-sidenav>
      
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-transparent  px-4">
              <div class="d-flex align-items-center">
                  <!-- <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i> -->
                  <h2 class="fs-2 m-0">Hi, Welcomeback!!</h2>
              </div>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li >
                          
                              <img [src] ="user.profilePicture">{{user.userName}}
                       
                      </li>
                  </ul>
              </div>
          </nav>

              <div class="row  ">
                  <!-- <h3 class="fs-4 mb-3">Profile</h3> -->
                  <div class="col">
                      <table class="table bg-white rounded table-hover">
                          <!-- <thead> -->
                              <div class="profile">
                                  <div class="container">
                                    <div class="row">
                                     
                                      <div class="col-lg-8">
                                          <div class="card shadow-sm w-100">
                                              <div class="card-header bg-transparent border-0">
                                                <h3 class="mb-0"><i class=" pr-1"></i>Profile</h3>
                                              </div>
                                              <div class="d-flex flex-row">
                                                <div class="col-md-4 border-right">
                                                  <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" [src]="user.profilePicture" width="100"><span class="font-weight-bold">{{user.firstName}}</span></div>
                                              </div>
                                              
                                              <div class="col-md-8">
                                                  <div class="p-3 py-5">
                                                      <div class="d-flex justify-content-between align-items-center mb-3">
                                                          <div class="d-flex flex-row align-items-right back"><i ></i>
                                                              <h6></h6>
                                                          </div>
                                                        

                                                      <!-- <h1 *ngIf="!isAddMode">Edit User</h1>
                                              <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
                                                  
                                                      <!-- <h1 *ngIf="!isAddMode">Edit </h1> -->
                                                      </div>
                                                      
                                                      <form [formGroup]="dashboardform" (ngSubmit)="onSubmit()">
                                                      <div class="row mt-2">
                                                          <div class="col-md-6"><input type="text" class="form-control" placeholder="first name" [(ngModel)]="user.firstName"></div>
                                                          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="user.lastName" placeholder="last name"></div>
                                                      </div>
                                                    
                                                      <div class="row mt-3">
                                                          <div class="col-md-6"><input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.userName" ></div>
                                                          <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="user.mobileNumber" placeholder="Phone number"></div>
                                                      </div>

                                                      <div class="row mt-3">
                                                          <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" ></div>
                                                          <div class="col-md-6"><input type="text" class="form-control"  placeholder="Address" [(ngModel)]="user.address" ></div>
                                                      </div>
                                                      <div class="mt-5 text-right"><button type="submit"  class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                                                      </form>
                                                  </div>
                                              </div>
  
                                              </div>
                                              
                                        </div>
                                          <div style="height: 26px"></div>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>

                             
                      </table>
                  </div>
              </div>

          </div>
      </div>
  
  <!-- /#page-content-wrapper -->
  

 
</body>
<!-- 
</html> -->