<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

<div class="d-flex" id="wrapper">
    <app-sidenav></app-sidenav>
     <!-- /#sidebar-wrapper -->

<div class="container bootdey">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
          <h2> <strong>Current Orders</strong></h2>
            <div class="btn-group pull-right">
                <div class="btn-group">
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Approved orders</a></li>
                        <li><a href="#">Pending orders</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div *ngIf="waitingOrders">
                    <div *ngFor="let order of waitingOrders.data">
                    <div class="row">
                        <div class="col-md-12">
                           <h4> <span><strong>{{order.serviceName}}</strong></span> <span class="label label-info"></span><br /></h4>
                          <h5> Appointment Booked from  {{order.appointmentFrom | date :'short'}} to {{order.appointmentTo | date :'short'}} </h5>
                    
                            <a data-placement="top" (click)="acceptOrder(order.id)" class="btn btn-success btn-xs glyphicon glyphicon-ok" title="View" style = "margin: 10px;">Accept</a>
                            <a data-placement="top" (click)="declineOrder(order.id)" class="btn btn-danger btn-xs glyphicon glyphicon-trash" title="Danger" style="margin: 10px;">Decline</a>
                        </div>
                       
                    </div>
                    </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
