
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Forgot Password</h3>
         
          <div class="panel-body p-3">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOTP()">
              <p class="mb-2">Enter your registered email ID to reset the password:
              </p>
              
              
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email')">
                  <span class="fa fa-envelope p-2"></span>
                  <input formControlName="email" type="text" placeholder="email">
                </div>
              </div>
              <small *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('minLength', 'email') " class="text-danger">Minimum 8 characters required</small>
              <small *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email') " class="text-danger">password is required</small>
             
             
              <button  type="submit"  class="btn btn-primary btn-block mt-4 w-100 " [disabled]="!forgotPasswordForm.valid">Send reset password email</button>
              
            </form>
          </div>
          
        
      
