<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                class="fas fa-user-secret me-2"></i>HomeZilla</div>
        <div class="list-group list-group-flush h-100">

                    <div class="pt-1 text-muted">
                       <a  id="forgot" class="text-white  list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="dashboard()">Profile</a>
                    </div>
                   
                    <div class="pt-1 text-muted">
                      <a id="forgot" class="text-white list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="currentOrders()">Current Order</a>
                   </div>
                   <div class="pt-1 text-muted">
                    <a id="forgot" class="text-white list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="pastOrders()">Order History</a>
                 </div>
            
        </div>
    </div>